body, html {
	padding: 0;
	margin: 0;
}
html {
	background-color: rgba(104, 168, 224, 0.3);
}
#head-notes-wrapper {
	padding: 5vh 0;
	font-variant: small-caps;
	letter-spacing: 0.3vw;
	font-size: 1.5vw;
	position: relative;
  width: 85vw;
}
#notes-wrapper {
	padding: 5vh 5vw;
	position: relative;
	height: 70vh;
	overflow: auto;
  width: 85vw;
}
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
*::-webkit-scrollbar {
  width: 8px;
  height: 7px;
  background-color: #F5F5F5;
}
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #888;
}
.page-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 5;
  max-height: 11vh;
  height: 11vh;
  overflow: hidden;
  color: #f5dd42;
}
.page-footer>div>div>div>span {
	font-size: 3vh;
	vertical-align: middle;
}
.ham{position: absolute;left: 0;top: 0; z-index: 100;}
.ham1{position: absolute;right: 0;top: 0; z-index: 100;}
.ham2{position: absolute;right: 0.5vw;bottom: 11vh; z-index: 100;}
#add-notes-area {
  background:#fdf8c8;
  background-image: -webkit-linear-gradient(90deg, #d0a090 1px, #d0a090 1px), linear-gradient(#fdf8c8, #fdf8c8 24px, #ccd 24px, #ccd 25px, #fdf8c8 25px);
  background-image: -moz-linear-linear-gradient(90deg, #d0a090 1px, #d0a090 1px), linear-gradient(#fdf8c8, #fdf8c8 24px, #ccd 24px, #ccd 25px, #fdf8c8 25px);
  background-image: -ms-linear-gradient(90deg, #d0a090 1px, #d0a090 1px), linear-gradient(#fdf8c8, #fdf8c8 24px, #ccd 24px, #ccd 25px, #fdf8c8 25px);
  background-image: -o-linear-gradient(90deg, #d0a090 1px, #d0a090 1px), linear-gradient(#fdf8c8, #fdf8c8 24px, #ccd 24px, #ccd 25px, #fdf8c8 25px);
  background-image: linear-gradient(90deg, #d0a090 1px, #d0a090 1px), linear-gradient(#fdf8c8, #fdf8c8 24px, #ccd 24px, #ccd 25px, #fdf8c8 25px);
  background-size: 2px 100%, 100% 25px;
  background-position: 40px top, left 0px;
  background-repeat:no-repeat, repeat;
  line-height: 25px !important;
  background-attachment: local;
  height:45vh;
  width:100%;
  margin:0;
  padding-top:3px;
  padding-left:50px;
  font-family:verdana;
  font-family: Arial, Helvetica, Sans-serif;
  font-size:large;
  outline: none;
}
#add-notes-btn {
  margin-top: 3vh;
}
.date-stamp {
  font-weight: 300;
  font-size: 1.8vh;
}
#view-notes-wrapper {
  max-height: 57vh;
  overflow: auto;
}