<!DOCTYPE html>
<html lang="en">
<head>
    <title>Firewallz Unconfirm</title>
    {% load staticfiles %}
    <link href="{% static 'firewallz/firewallz_unconfirm/css/font.css' %}" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'firewallz/firewallz_unconfirm/css/materialize.min.css' %}"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link type="text/css" rel="stylesheet" href="{% static 'firewallz/firewallz_unconfirm/css/style.css' %}"/>
    <script type="text/javascript" src="{% static 'firewallz/firewallz_unconfirm/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'firewallz/firewallz_unconfirm/js/materialize.min.js' %}"></script>
    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
    <script type="text/javascript" src="{% static 'firewallz/firewallz_unconfirm/js/script.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container blue lighten-3 center" id="head-unconfirm-wrapper">
        Firewallz Unconfirm
    </div>
    <div class="container blue lighten-5 center" id="wrap_searches">
        <div class="row center">
            <div class="input-field col s4 offset-s4">
              <input type="text" name="search" id="name-search" required="required" onkeyup="search()">
              <label for="name-search">Search By Name</label>
            </div>
        </div>
    </div>
    <div class="container center blue lighten-5" id="unconfirm-wrapper">
        <div id="view-details-div-text"><span>Click to view details</span></div>
        <ul class="collapsible" data-collapsible="expandable" id="table-ul"></ul>
    </div>
    <div class="cnfrmd_details" id="det">
        <h2 style="color: white; float: right;margin: 10px;cursor: pointer" onclick="close_details();">x</h2>
        <div style="height:10%;"></div>
        <div class="row center">
            <div class="input-field col s4 offset-s4" id="participant-search-wrapper">
              <input type="text" name="participant-search" id="participant-name-search" required="required" onkeyup="participant_search()">
              <label for="participantname-search">Search By Name</label>
            </div>
        </div>
        <div class="container" id="uncnfrm_grp">
            
        </div>
    </div>
    <ul id="slide-out" class="side-nav">
        <li>
            <div class="user-view">
                <div class="background" style="background-color: #3794e6"></div>
                <a><span class="white-text name">FIREWALLZ PANEL</span></a>          
            </div>
        </li>
        <li><a class="waves-effect" href="/firewallz/">Confirm groups</a></li>
        <li><a class="waves-effect">Unconfirm groups</a></li>
        <li><a class="waves-effect" onclick="stats()">Stats</a></li>
        <li><a class="waves-effect" href="/firewallz/view_id_card/">ID Cards</a></li>
	<li><a class="waves-effect" href="/firewallz/view_docs/">View Docs</a></li>
        <li><div class="divider"></div></li>
        <li><a class="waves-effect bottom" href="/regsoft/regsoft_logout/">Logout</a></li>
    </ul>
    <ul id="slide-out-1" class="side-nav">
        <li>
            <div class="user-view">
                <div class="background" style="background-color: #3794e6"></div>
                <a><span class="white-text name">Present Stats</span></a>
            </div>
        </li>
        <li><a class="waves-effect">Firewallz-Confirmed:</a></li>
        <li><a id="fire_conf">1111</a></li>
        <li><div class="divider"></div></li>
        <li><a class="waves-effect" onclick="stats()">Controls Passed</a></li>
        <li><a id="cont_conf">1111</a></li>
        <li><div class="divider"></div></li>
        <li><a class="waves-effect">RecNAcc Confirmed</a></li>
        <li><a id="rec_conf">1111</a></li>
    </ul>
    <div class="ham"><a href="#" data-activates="slide-out" class="button-collapse coll-0"><i class="material-icons medium white-text">menu</i></a></div>
    <div class="ham1"><a href="#" data-activates="slide-out-1" class="button-collapse coll-1" onclick="fetchPassedStats();"><i class="material-icons medium white-text">insert_chart</i></a></div>
    <div id="stat" class="stats teal center-align">
        <a class="close white-text" id="close" onclick="close_stats()"><i class="material-icons medium">close</i></a>   
        <a class="btn csv-btn" id="csv" href="/firewallz/stats_csv/" target="_blank">Download CSV</a>
        <a class="btn csv-btn" id="pdf" href="/firewallz/stats_excel/" target="_blank">Download Excel</a>
        <a class="btn csv-btn" id="excel" href="/firewallz/stats_html/" target="_blank">Download PDF</a>
        <div class="container" id="stat_data">
        <ul class="collapsible popout center-align" data-collapsible="accordion" id="stats_ul">
            <li>
                <div class="collapsible-header"><i class="material-icons">account_balance</i>College_1</div>
                <div class="collapsible-body center white">
                    <div class="collection ">
                        <a class="collection-item">Alvin<span id="phn_no" class="right">9929823984</span></a>
                        <a class="collection-item">Alvin<span id="phn_no" class="right">9929823984</span></a>
                        <a class="collection-item">Alvin<span id="phn_no" class="right">9929823984</span></a>
                        <a class="collection-item">Alvin<span id="phn_no" class="right">9929823984</span></a>
                    </div>
                </div>
            </li>
          </ul>
        </div>
    </div>
    <footer class="page-footer blue darken-2">
        <div class="container">
            <div class="row">
                <div class="col s12 center">
                    <span>Coding Club, BOSM 2018</span>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
