<!DOCTYPE html>
<html>
<head>
  {% load staticfiles %}
  <title>BOSM 2019</title>
  <link rel="stylesheet" type="text/css" href="{% static 'main/navigation/css/style.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="icon" href="{% static 'main/favicon/favicon.ico' %}" type="image/x-icon"/>
  <link rel="shortcut icon" href="{% static 'main/favicon/favicon.ico' %}" type="image/x-icon"/>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120495963-9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-120495963-9');
  </script>
</head>
<body>
  <div id="rotate-div"> <img src="{% static 'main/navigation/images/rotate.png' %}" id="rotate-img"> </div>
  <div id="banner-div">
    <img src="{% static 'main/navigation/images/final-banner.svg' %}" id="banner-img">
  </div>
  <div id="banner-overlay"></div>
  <div id="links-wrapper">
    <div class="column">
      <a href="../pcradmin" class="beautify-btn">PCR Admin</a>
    </div>
    <div class="column">
      <a href="../firewallz" class="beautify-btn">Firewallz</a>
    </div>
    <div class="column">
      <a href="../controls" class="beautify-btn">Controls</a>
    </div>
    <div class="column">
      <a href="../recnacc" class="beautify-btn">RecnAcc</a>
    </div>
  </div>
  <div id="bosm-wrapper">
    <img src="{% static 'main/navigation/images/BOSM-LOGO2.png' %}" id="bosm-logo">
    <span id="bosm-text">BOSM 2019</span>
  </div>
</body>
</html>
