<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}
    <!--Import Google Icon Font-->
    <title>BOSM 2018 Registrations</title>
    <link href="{% static 'register/css/font.css' %}" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'register/css/materialize.min.css' %}"  media="screen,projection"/>
    <!--Import the css-->
    <link href="{% static 'register/css/login-style.css' %}" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="{% static 'register/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'register/js/login-script.js' %}"></script>
    <script type="text/javascript" src="{% static 'register/js/materialize.min.js' %}"></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=reloadCaptcha&render=explicit" async defer></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120495963-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-120495963-1');
    </script>
    <link rel="icon" href="{% static 'main/favicon/favicon.ico' %}" type="image/x-icon"/>
    <link rel="shortcut icon" href="{% static 'main/favicon/favicon.ico' %}" type="image/x-icon"/>
  </head>
  <nav>
    <div class="nav-wrapper">
      <a class="brand-logo hover-effect"><img src="{% static 'register/images/bosm-logo-new.svg' %}" id="bosm-logo"> BOSM 2018</a>
      <ul id="nav-mobile" class="left show-on-med-down">
        <li><a data-activates="slide-out" class="button-collapse hover-effect nav-link-hover" id="side-btn"><i class="material-icons">menu</i></a></li>
      </ul>
      <ul id="nav-not-mobile" class="right hide-on-med-and-down">
        <li><a href="/" class="hover-effect"><i class="material-icons left">home</i>HOME</a></li>
        <li><a class="hover-effect modal-trigger" href="#instructions-modal"><i class="material-icons left">info_outline</i>INSTRUCTIONS</a></li>
      </ul>
    </div>
  </nav>
  <ul id="slide-out" class="side-nav">
    <li><div class="user-view">
      <div class="background grey darken-4"></div>
      <a class="hover-effect"><img class="circle" src="{% static 'register/images/bosm-logo-new.svg' %}"></a>
      <a class="hover-effect"><span class="white-text name">BOSM 2018</span></a>
    </div></li>
    <li><a href="/" class="hover-effect"><i class="material-icons">home</i>HOME</a></li>
    <li><a class="hover-effect modal-trigger" href="#instructions-modal"><i class="material-icons">info_outline</i>INSTRUCTIONS</a></li>
  </ul>
  <body>
    <div id="rotate-div"> <img src="{% static 'register/images/rotate.png' %}" id="rotate-img"> </div>
    <div id="cover-overlay"></div>
    <div id="loader">
      <h1 id="working-text">
        <span id="text1">w</span>  
        <span id="text2">o</span>  
        <span id="text3">r</span>  
        <span id="text4">k</span>  
        <span id="text5">i</span>  
        <span id="text6">n</span>  
        <span id="text7">g</span>  
      </h1>
    </div>
    <div class="container">
      <div class="row valign-wrapper center-align" style="height: 60vh;">
        <div class="col s12" id="bosm-reg-text">
          <h3 class="white-text" style="font-family: 'Montserrat'">BOSM Registrations</h3>
        </div>
      </div>
      <div class="row button_row valign-wrapper">
        <div class="col m3 offset-m2 s12">
            <a class="teal btn-large z-depth-4" style="width: 100%" onclick="login()">LOGIN</a>
        </div>
        <div class="col m3 offset-m2 s12">
            <a class="teal btn-large z-depth-4" style="width: 100%" onclick="signup()">REGISTER</a>
        </div>
      </div>
    </div>
    <div class="login teal lighten-1" style="" id="login">
      <a class="white-text close" onclick="closelogin()"> <i class="material-icons medium">close</i></a>
      <h1 class="center-align white-text" style="font-family: Cinzel">LOGIN</h1>
      <div class="container">
      <form action="login/" method="POST">
        {% csrf_token %}
        <div class="row">
        <div class="col m6 offset-m3 s12">
          <div class="card white darken-1">
            <div class="input-field">
              <i class="material-icons prefix">person</i>
              <input id="username" name="Username" type="text" class="validate" required="required" maxlength="50">
              <label for="username">Username</label>
            </div>
            <div class="input-field">
              <i class="material-icons prefix">ac_unit</i>
              <input id="password" name="Password" type="password" class="validate" required="required" maxlength="50">
              <label for="password">Password</label>
            </div>
            <div class="row center">
              <button class="btn green waves-effect waves-light" id="submit-form-btn2" type="submit" name="action">Submit
                <i class="material-icons right large">send</i>
              </button>
            </div>
          </div>
        </div>
      </div>
      </form>
    </div>
    </div>
    <div class="signup teal lighten-1" style="" id="signup">
      <a class="white-text close" onclick="closesignup()"> <i class="material-icons medium">close</i></a>
      <h1 class="center-align white-text" style="font-family: Cinzel">REGISTER</h1>
      <div class="container">
        <div class="row card white darken-1">
          <form class="col s12" onsubmit="return false;" id="register-form">
            {% csrf_token %}
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">person</i>
                <input type="text" name="Name" id="name_field" class="validate" required="required" maxlength="100">
                <label for="name_field" data-error="Enter your Name">Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">email</i>
                <input type="email" name="Email" id="email_field" class="validate" required="required" maxlength="100">
                <label for="email_field" data-error="Enter a Valid Email">E-Mail</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col m6 s12">
                <i class="material-icons prefix">create</i>
                <input type="text" name="Username" id="username_field" class="validate" required="required" maxlength="50">
                <label for="username_field" data-error="Enter your Username">Username</label>
              </div>
              <div class="input-field col m6 s12">
                <i class="material-icons prefix">lock_outline</i>
                <input type="password" name="Password" id="password_field" class="validate" required="required" maxlength="50">
                <label for="password_field" data-error="Enter a Valid Password">Password</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">people</i>
                <select id="participant_coach_select" name="register_as">
                  <option value="" disabled="disabled" selected="selected"></option>
                  <option value="L">Captain</option>
                  <option value="P">Participant</option>
                  <option value="C">Coach</option>
                </select>
                <label for="participant_coach_select" data-error="Register As Captain/Participant/Coach">Register As</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">local_phone</i>
                <input type="text" name="Phone" id="phone_field" class="validate" required="required" maxlength="10" data-length="10">
                <label for="phone_field" data-error="Enter your Phone Number">Phone Number</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">business</i>
                <select id="college_field" name="College">
                  <option value="" disabled="disabled" selected="selected"></option>
                </select>
                <label for="college_field" data-error="Enter your College Name">College</label>
                <span class="helper-text">If you can't find your college, Contact : 1234567890</span>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">directions_run</i>
                <select id="sport_select" multiple="multiple" required="required" name="sport_select">
                  <option value="" disabled="disabled" selected="selected"></option>
                </select>
                <label for="sport_select" data-error="Enter Sport">Sport</label>
              </div>
            </div>
            <div class="row">
              <div class="col s4 center">
                Gender
              </div>
              <div class="col s4 center">
                <input type="radio" name="gender" id="indi_male" value="male" required="required">
                <label for="indi_male">Male</label>
              </div>
              <div class="col s4 center">
                <input type="radio" name="gender" id="indi_female" value="female" required="required">
                <label for="indi_female">Female</label>
              </div>
            </div>
            <div class="row center">
              <div class="col s12 center">
                <div id="captcha_container"></div>
              </div>
            </div>
            <div class="row center">
              <button class="btn green waves-effect waves-light" id="submit-form-btn" type="submit" name="action" onclick="submitRegisterForm()">Submit
                <i class="material-icons right large">send</i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div id="sent-email-modal" class="modal modal-fixed-footer">
      <div class="modal-content center">
        <h5>Verify Email</h5>
        <p>Thank you for registering for BOSM 2018. Please check your Email for Verification. If you can't find it do check your Spam Folder as well.</p>
      </div>
      <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
      </div>
    </div>
    <div id="error-modal" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h4>Error</h4>
        <p id="error-msg">Error Message</p>
      </div>
      <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>
    <div id="instructions-modal" class="modal modal-fixed-footer">
      <div class="modal-content center">
        <h4>INSTRUCTIONS</h4>
        <p>
          <ul class="collection">
            <li class="collection-item">Instruction 1 : Go to <a href="https://www.bits-bosm.org">BOSM 2018</a>. Register your college by filling in necessary data.</li>
            <li class="collection-item">Instruction 2 : If you cannot find your college in the college dropdown list – please contact:-</li>
            <li class="collection-item">Instruction 3 : You can register yourself as a captain, participant or coach.</li>
            <li class="collection-item">Instruction 4 : You can only register for one sport as a captain. And for others you may register as an participant</li>
            <li class="collection-item">Instruction 5 : You can register multiple sports in case you are only a participant.</li>
            <li class="collection-item">Instruction 6 : You can only register in one sport if you are a Coach.</li>
            <li class="collection-item">Instruction 7 : Registering your college does not confirm participation.</li>
            <li class="collection-item">Instruction 8 : After registering, confirm your email by clicking on activation link mailed to you to your registered email address and wait further correspondence.</li>
            <li class="collection-item">Instruction 9 : We will then contact you to identify a group leader (GL) among the people registered from your college and will represent your team in campus.</li>
            <li class="collection-item">Instruction 10 : The GL will be confirmed and an activation mail will be sent. The GL will be able to login and register all the participants, captain and coach.</li>
            <li class="collection-item">Instruction 11 : Registration of any participant, captain or coach does not confirm participation.</li>
            <li class="collection-item">Instruction 12 : Participants with same mobile number and gender will be considered as single participant.</li>
            <li class="collection-item">Instruction 13 : All participants will receive emails with their credentials at their registered email address.</li>
            <li class="collection-item">Instruction 14 : Captains can login as soon as they have been registered by GL and can register their teams.</li>
            <li class="collection-item">Instruction 15 : Participants and coaches can login only after their team has been confirmed.</li>
            <li class="collection-item">Instruction 16 : Confirmation mails with the names of confirmed participaticipants will be sent to the registered email addresses of the GL and the captain of the team which has been confirmed. In case there is no captain registered in the team, Confirmation mails will be sent to the registered email addresses of the GL and all the participants in the team.</li>
            <li class="collection-item">Instruction 17 : The shortlisted participants will be required to pay the participation fee. The payment details will be available at the time of payment.</li>
          </ul>
        </p>
      </div>
      <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
      </div>
    </div>
  </body>
</html>
