{% autoescape off %}
Hello {{ user.username }}!<br><br>

Thank you for registering!<br><br>

Greetings from BITS Pilani!<br><br>

It gives me immense pleasure in inviting your institute to the 33rd edition of BITS Open Sports Meet (BOSM), the annual national sports meet of Birla Institute of Technology & Science, Pilani, India. This year, BOSM will be held from September 19th to 23rd.<br><br>

Applications close on 31st August 2018 at 1700 hrs.<br><br>

Please apply as soon as possible to enable us to confirm your participation at the earliest.<br><br>

We look forward to seeing you at BOSM 2018.<br><br>

<a href="https://{{ domain }}{% url 'activate' uidb64=uid token=token %}">Click Here</a> to verify your email.<br><br>

P.S: THIS EMAIL DOES NOT CONFIRM YOUR PRESENCE AT BOSM 2018. YOU WILL BE RECEIVING ANOTHER EMAIL FOR THE CONFIRMATION OF YOUR PARTICIPATION.<br><br>

Regards,<br>
CoSSAcn (Head)<br>
Dept. of Publications & Correspondence, BOSM 2018<br>
BITS Pilani<br>
<a href="mailto:pcr@bits-bosm.org">pcr@bits-bosm.org</a>
{% endautoescape %}