<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}
    <title>BOSM 2018 Registrations</title>
    <link rel="stylesheet" type="text/css" href="{% static 'register/css/font.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'register/css/materialize.min.css' %}" media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="{% static 'register/css/payment-style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="theme-color" content="black">
    <meta name="description" content="Registration Page for Group Leader's to add Participants and Sports that their college would like to participate in.">
    <script type="text/javascript" src="{% static 'register/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'register/js/payment-script.js' %}"></script>
    <script type="text/javascript" src="{% static 'register/js/materialize.min.js' %}"></script> 
    <link rel="icon" href="{% static 'main/favicon/favicon.ico' %}" type="image/x-icon"/>
    <link rel="shortcut icon" href="{% static 'main/favicon/favicon.ico' %}" type="image/x-icon"/>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120495963-11"></script> <script>window.dataLayer=window.dataLayer || []; function gtag(){dataLayer.push(arguments);}gtag('js', new Date()); gtag('config', 'UA-120495963-11'); </script>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a class="brand-logo center" style="font-family: 'Montserrat'">BOSM 2018</a> 
        <ul class="right">
          <li><a href="logout/"><i class="material-icons left">exit_to_app</i>Logout</a></li>
        </ul>
        <ul class="left">
          <li>
            <a class="waves-effect waves-light btn-floating btn-large cyan modal-trigger" href="#instructions-modal" id="tap_info"><i class="large material-icons">info_outline</i></a> 
            <div class="tap-target cyan" data-activates="tap_info">
              <div class="tap-target-content">
                <h5>Instructions</h5>
                <span>Please read the instructions</span> 
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div id="cover"></div>
    <div id="cover-overlay"></div>
    <div class="container center" id="participants-container">
      <div class="row">
        <div class="col s12">
          <span id="select-parts-text">Select Participants whose Payment is to be done</span>
        </div>
      </div>
      <div class="row" id="reg-parts-list">
        <div class="col s12 center">
          <ul class="collection" id="reg-parts-head">
            <li class="collection-item table-top-header-item">
              <table class="table-top-header centered">
                <tr class="table-top-header-row">
                  <td id="top-pk-col">ID No.</td>
                  <td id="top-name-col">Name</td>
                  <td id="top-gender-col">Gender</td>
                  <td id="top-pre-reg-col">Pre-Reg</td>
                  <td id="top-reg-col">Reg</td>
                </tr>
              </table>
            </li>
          </ul>
          <ul class="collection" id="reg-parts-ul">
            <li class="collection-item participant-list-item">
              <table class="table-top-header centered">
                {% for d in data %}
                {% if d.3 == 1 %}
                <tr class="table-row disabled-pre-reg">
                  <td class="pk-col">{{d.0}}</td>
                  <td class="name-col">{{d.1}}</td>
                  <td class="gender-col">{{d.2}}</td>
                  <td class="pre-reg-col"><i class="material-icons hover-effect selected-previously" onclick="switchPreRegPayment(this)">check_box</i></td>
                  <td class="reg-col"><i class="material-icons hover-effect" onclick="switchRegPayment(this)">check_box_outline_blank</i></td>
                </tr>
                {% elif d.3 == 2 %}
                <tr class="table-row disabled-pre-reg disabled-reg disabled-both">
                  <td class="pk-col">{{d.0}}</td>
                  <td class="name-col">{{d.1}}</td>
                  <td class="gender-col">{{d.2}}</td>
                  <td class="pre-reg-col"><i class="material-icons hover-effect selected-previously" onclick="switchPreRegPayment(this)">check_box</i></td>
                  <td class="reg-col"><i class="material-icons hover-effect selected-previously" onclick="switchRegPayment(this)">check_box</i></td>
                </tr>
                {% else %}
                <tr class="table-row">
                  <td class="pk-col">{{d.0}}</td>
                  <td class="name-col">{{d.1}}</td>
                  <td class="gender-col">{{d.2}}</td>
                  <td class="pre-reg-col"><i class="material-icons hover-effect" onclick="switchPreRegPayment(this)">check_box_outline_blank</i></td>
                  <td class="reg-col"><i class="material-icons hover-effect" onclick="switchRegPayment(this)">check_box_outline_blank</i></td>
                </tr>
                {% endif %}
                {% endfor %}
              </table>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container center" id="pay-part-div">
      <div class="row">
        <div class="col s12">
          <a class="waves-effect waves-light btn custom-btn z-depth-5" id="pay-part-btn" onclick="submitPayParts()" style="display: inline-block;"><i class="material-icons right">send</i>Pay</a>
        </div>
      </div>
    </div>
    <div id="instructions-modal" class="modal modal-fixed-footer">
      <div class="modal-content center">
        <h4>INSTRUCTIONS</h4>
        <p> 
        <ul class="collection">
          <li class="collection-item">Total amount payable is &nbsp &#8377; 1100</a></li>
          <li class="collection-item">Participant can choose to pay either the pre-reg amount &nbsp &#8377; 600 or the full amount by selecting reg</a></li>
          <li class="collection-item">Participants can only pay for themselves</li>
          <li class="collection-item">Captains can pay for themselves as well as members of the team</li>
          <li class="collection-item">Groupleader can pay for all the participants and captains as well as for self</li>
          <li class="collection-item">Option for Pre-Reg payment is only available till 10th September after that only Reg payment is allowed</li>
          <li class="collection-item">In case of any issues/queries contact : <a href="mailto:pcr@bits-bosm.org?Subject=Query%20regarding%20payment">pcr@bits-bosm.org</a> or <a href="mailto:register@bits-bosm.org?Subject=Query%20regarding%20payment">register@bits-bosm.org</a></li>
        </ul>
        </p>
      </div>
      <div class="modal-footer"> <a class="modal-action modal-close waves-effect waves-green btn-flat">Done</a> </div>
    </div>
    <div class="container" id="form-holder">
      <form id="payment-form" method="POST" action="/register/makepayment/">
        {% csrf_token %}
        <input type="text" name="data" value="{'pre-reg':[],'reg':[]}" id="data-field">
      </form>
    </div>
  </body>
</html>