<html>
<title>BOSM 2019 Payment</title>
<h5>Processing Payment for BOSM 2019. Please wait...</h5></br>
<form method="post" action="https://securegw-stage.paytm.in/theia/processTransaction" name="f1">
  <!-- https://securegw.paytm.in/theia/processTransaction for production -->
<table border="1">
<tbody>
{% for key,value in paytmdict.items %}
    <input type="hidden" name="{{key}}" value="{{value}}">
{% endfor %}
</tbody>
</table>
<script type="text/javascript">
document.f1.submit();
</script>
</form>
</html>
