<!DOCTYPE html>
<html>
  <head>
    <title>BOSM 2018 Registration</title>
    {% load staticfiles %}
    <!--Import Google Icon Font-->
    <link href="{% static 'register/css/font.css' %}" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'register/css/materialize.min.css' %}"  media="screen,projection"/>
    <!--Import the css-->
    <link href="{% static 'register/css/register-style.css' %}" rel="stylesheet">
    <!-- Let browser know website is optimized for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="{% static 'register/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'register/js/register-script.js' %}"></script>
    <script type="text/javascript" src="{% static 'register/js/materialize.min.js' %}"></script>
    <link rel="icon" href="{% static 'main/favicon/favicon.ico' %}" type="image/x-icon"/>
    <link rel="shortcut icon" href="{% static 'main/favicon/favicon.ico' %}" type="image/x-icon"/>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120495963-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-120495963-5');
    </script>
    <!-- <link href="register/css/font.css" rel="stylesheet"> -->
    <!--Import materialize.css-->
    <!-- <link type="text/css" rel="stylesheet" href="register/css/materialize.min.css"  media="screen,projection"/> -->
    <!--Import the css-->
    <!-- <link href="register/css/style.css" rel="stylesheet"> -->
    <!--Let browser know website is optimized for mobile-->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"/> -->
    <!--Import jQuery before materialize.js-->
    <!-- <script type="text/javascript" src="register/js/jquery.js"></script>
    <script type="text/javascript" src="register/js/register-script-offline.js"></script>
    <script type="text/javascript" src="register/js/materialize.min.js"></script> -->
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a class="brand-logo center" style="font-family: 'Montserrat'">BOSM 2018</a>
        <ul class="right">
          <li><a href="logout/"><i class="material-icons left">exit_to_app</i>Logout</a></li>
        </ul>
        <ul class="left">
          <li><a class="waves-effect waves-light btn-floating btn-large cyan modal-trigger" href="#instructions-modal" id="tap_info"><i class="large material-icons">info_outline</i></a>
          <div class="tap-target cyan" data-activates="tap_info">
            <div class="tap-target-content">
              <h5>Instructions</h5>
              <span>Please read the instructions</span>
            </div>
          </div>
          </li>
        </ul>
      </div>
    </nav>
    <div id="rotate-div"> <img src="{% static 'register/images/rotate.png' %}" id="rotate-img"> </div>
    <div id="backdrop-container">
      <!-- Backdrop Image used as Background Image in CSS and add tint in sub-div here -->
      <div id="backdrop-overlay"></div>
    </div>
    <div class="container center-align">
      <a class="waves-effect waves-light btn" href="register/player/" id="documents-link"><i class="material-icons left">attach_file</i>Documents Upload</a>
      <button class="btn center-align" onclick="openadd()"><i class="material-icons left">directions_run</i>Add Sports</button>
      <h4 class="white-text">Sports Selected</h4>
        <h4 class="detail_tag white-text">Click on Sport name for details</h4>
      <ul class="collapsible center-align" data-collapsible="accordion" id="sports">
        <!-- <li>
          <div class='collapsible-header'><i class='material-icons'>whatshot</i>Basketball (Boys)<span class='sport_id'>1</span></div>
          <div class='collapsible-body blue-grey white-text'>
            <span>
              <h5>No. of registered students: </h5>
              <span id='reg_no'>
                <h5>0</h5>
              </span>
            </span>
            <br/><button class='btn truncate regbtn' onclick='getlist(this)'>Refresh registered</button> <button class='btn truncate addbtn' onclick='addTeamParticipants(this, "Male")'>Add Participants</button>
            <ol id= 'list'></ol>
          </div>
        </li> -->
      </ul>
    </div>
    <div class="add teal lighten-1 center-align" id="add_sport">
      <a class="close white-text" onclick="closeadd()"><i class="material-icons medium">close</i></a>
      <h5 class="white-text center-align">ADD SPORT</h5>
      <div class="chips center-align" id="sport">
        <!-- Not Selected Sports -->
      </div>
      <h5 class="white-text center-align"> SELECTED SPORTS:</h5>
      <div class="selected center-align" id="target">
      </div>
      <div class="center-align footer"><button class="btn large center-align white teal-text" onclick="addsports()">Add</button></div>
    </div>
  <div id="instructions-modal" class="modal modal-fixed-footer">
    <div class="modal-content center">
      <h4>INSTRUCTIONS</h4>
      <p>
        <ul class="collection">
          <li class="collection-item">Instruction 1 : Write Long Long Instructions Here, Very very very very very very very very very very very very very very very very longgggg longgggg longggg</li>
          <li class="collection-item">Instruction 2 : Write Long Long Instructions Here, Very very very very very very very very very very very very very very very very longgggg longgggg longggg</li>
          <li class="collection-item">Instruction 3 : Write Long Long Instructions Here, Very very very very very very very very very very very very very very very very longgggg longgggg longggg</li>
          <li class="collection-item">Instruction 4 : Write Long Long Instructions Here, Very very very very very very very very very very very very very very very very longgggg longgggg longggg</li>
          <li class="collection-item">Instruction 5 : Write Long Long Instructions Here, Very very very very very very very very very very very very very very very very longgggg longgggg longggg</li>
          <li class="collection-item">Instruction 1 : Write Long Long Instructions Here, Very very very very very very very very very very very very very very very very longgggg longgggg longggg</li>
          <li class="collection-item">Instruction 2 : Write Long Long Instructions Here, Very very very very very very very very very very very very very very very very longgggg longgggg longggg</li>
          <li class="collection-item">Instruction 3 : Write Long Long Instructions Here, Very very very very very very very very very very very very very very very very longgggg longgggg longggg</li>
          <li class="collection-item">Instruction 4 : Write Long Long Instructions Here, Very very very very very very very very very very very very very very very very longgggg longgggg longggg</li>
          <li class="collection-item">Instruction 5 : Write Long Long Instructions Here, Very very very very very very very very very very very very very very very very longgggg longgggg longggg</li>
        </ul>
      </p>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat">Done</a>
    </div>
  </div>
  <div id="error-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Error</h4>
      <p id="error-msg">Error Message</p>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
  <div id="add-team-participants-modal" class="modal modal-fixed-footer orange">
    <div class="modal-content center">
      <h5 class="white-text">Add Participants</h5>
      <div class="row">
        <div class="col s12 center">
          <button class='btn truncate' onclick='addNewTeamParticipant(6, "Female")' id="add_parts_btn">Add Participant</button> <button class='btn truncate' onclick='deleteTeamParticipants()'>Delete Participant</button>
        </div>
      </div>
      <div id="add_team_participants_div">
        <div class="row">
          <form class="col s12" id="sport-extra-form">
            <div class="row" id="submit-add-team-part-btn">
              <div class="col s12 center">
                <a class="waves-effect waves-light btn btn-large" onclick="addTeamPartSubmit('Male/Female')" id="add_team_parts_btn"><i class="material-icons right">send</i>Submit</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer orange">
      <a class="modal-action modal-close waves-effect waves-green btn-flat white-text">Close</a>
    </div>
  </div>
  <div id="coach-gender-modal" class="modal modal-fixed-footer orange">
    <div class="modal-content center">
      <h5 class="white-text">Select Coach Gender</h5>
      <div id="select_coach_gender_div">
        <div class="row">
          <form class="col s12" id="select_coach_gender_form">
            <div class="row">
              <div class="col s4 white-text">
                Coach Gender
              </div>
              <div class="col s4">
                <input type="radio" name="select_coach_gender" id="select_coach_male" value="male">
                <label for="select_coach_male">Male</label>
              </div>
              <div class="col s4">
                <input type="radio" name="select_coach_gender" id="select_coach_female" value="female">
                <label for="select_coach_female">Female</label>
              </div>
            </div>
            <div class="row" id="select_coach_gender_form_btn">
              <div class="col s12 center">
                <a class="waves-effect waves-light btn btn-large" onclick="submitCoachData()" id="add_team_parts_btn"><i class="material-icons right">send</i>Submit</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer orange">
      <a class="modal-action modal-close waves-effect waves-green btn-flat white-text">Close</a>
    </div>
  </div>
  </body>
</html>