<!DOCTYPE html>
<html>
  <head>
    <title>BOSM 2018 Registration</title>
    {% load staticfiles %}
    <!--Import Google Icon Font-->
    <link href="{% static 'register/css/font.css' %}" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'register/css/materialize.min.css' %}"  media="screen,projection"/>
    <!--Import the css-->
    <link href="{% static 'register/css/style.css' %}" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="{% static 'register/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'register/js/script.js' %}"></script>
    <script type="text/javascript" src="{% static 'register/js/materialize.min.js' %}"></script>
      <style>
          .reg{
              background-color: #ded9d9;
          }
      </style>
  </head>
  <body class="light-green darken-2">
    <nav>
      <div class="nav-wrapper">
        <a class="brand-logo center">BOSM 2018</a>
        <ul class="right">
          <li><a href="logout/"><i class="material-icons left">exit_to_app</i>Logout</a></li>
        </ul>
        <ul class="left">
          <li><a class="waves-effect waves-light btn-floating btn-large cyan modal-trigger" href="#instructions-modal" id="tap_info"><i class="large material-icons">info_outline</i></a>
          <div class="tap-target cyan" data-activates="tap_info">
            <div class="tap-target-content">
              <h5>Instructions</h5>
              <span>Please read the instructions</span>
            </div>
          </div>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container center-align">
      <h4 class="white-text">Sports Selected:</h4>
        <h4 class="detail_tag white-text">Click on Sport name for details</h4>
      <ul class="collapsible center-align" data-collapsible="accordion" id="sports">
           <li>
              <div class='collapsible-header'>
                  <i class='material-icons'>whatshot</i>
                  sport_name
                  <span class='sport_id'>sport_id</span>
                  &nbsp;
                  <span class='badge reg' onclick='reg()'>Register</span>
              </div>
              <div class='collapsible-body blue-grey white-text' id="edit">
                  <span>
                      <h5>No. of registered students: </h5>
                      <span id='reg_no'>
                          <h5>0</h5>
                      </span>
                  </span>
                  <br/>
                  <button class="btn" onclick="getlist()">Show previously registered</button> 
                  <ul class=''>
                      <li>Student name1</li>
                      <li>Student name2</li>
                      <li>Student name3</li>
                  </ul>
                  <button class='btn' onclick='openedit()'>Edit Names</button>
              </div>
          </li>  
      </ul>
      <button class="btn center-align" onclick="openadd()">Add Sport</button>
    </div>
    <div class="add teal lighten-1 center-align" id="add_sport">
      <a class="close white-text" onclick="closeadd()"><i class="material-icons medium">close</i></a>
      <h5 class="white-text center-align">ADD SPORT</h5>
      <div class="chips center-align" id="sport">
        
      </div>
      <h5 class="white-text center-align"> SELECTED SPORTS:</h5>
      <div class="selected center-align" id="target">
      </div>
      <div class="center-align footer"><button class="btn large center-align white teal-text" onclick="addsports()">Add</button></div>
    </div>
    <div class="register purple accent-2 center-align" id="reg">
      <a class="close white-text" onclick="closereg()"><i class="material-icons medium">close</i></a>
      <div id="team-form-wrapper">
        <div class="container purple accent-2" id="head-msgs">
          <h4 id="team-registration-head">Team Registrations for <span id="team-sport-name">Team Sport Name</span></h4>
          <h5 id="team-registration-msg">This is a team event. Total no. of participants must be between <span id="team-sport-lower-limit">Lower Limit</span> and <span id="team-sport-upper-limit">Upper Limit</span></h5>
          <span id="team-sport-id">Team Sport ID</span><span id="team-sport-gender">Team Sport Gender</span>
        </div>
        <div class="container purple accent-2">
          <div class="row">
            <form class="col s12" id="sport-team-form">
            {% csrf_token %}
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">person</i>
                  <input type="text" name="Captain_Name" id="captain_name_field" class="validate" required="required">
                  <label for="captain_name_field" data-error="Enter Name of Team Captain">Name of Team Captain</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">email</i>
                  <input type="email" name="Captain_Email" id="captain_email_field" class="validate" required="required">
                  <label for="captain_email_field" data-error="Enter a Valid Email">E-Mail of Team Captain</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">local_phone</i>
                  <input type="text" name="Captain_Phone" id="captain_phone_field" class="validate" required="required" maxlength="10" data-length="10">
                  <label for="captain_phone_field" data-error="Enter Phone Number">Team Captain Phone Number</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">directions_run</i>
                  <select id="captain_add_sport_select" multiple="multiple" name="captain_add_sport_select">
                    <option value="" disabled="disabled" selected="selected"></option>
                  </select>
                  <label for="captain_add_sport_select">Add More Sports</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">record_voice_over</i>
                  <input type="text" name="Coach_Name" id="coach_name_field" class="validate">
                  <label for="coach_name_field" data-error="Enter Coach Name">Coach Name (Optional)</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">email</i>
                  <input type="email" name="Coach_Email" id="coach_email_field" class="validate" required="required">
                  <label for="coach_email_field" data-error="Enter a Valid Email">E-Mail of Coach (Optional)</label>
                </div>
              </div>
              <div class="row">
                <div class="col s4">
                  Coach Gender (Optional)
                </div>
                <div class="col s4">
                  <input type="radio" name="coach_gender" id="coach_male" value="Male">
                  <label for="coach_male">Male</label>
                </div>
                <div class="col s4">
                  <input type="radio" name="coach_gender" id="coach_female" value="Female">
                  <label for="coach_female">Female</label>
                </div>
              </div>
              <div class="row">
                <div class="col s12">
                  <div class="divider"></div>
                </div>
              </div>
              <div class="row">
                <div class="col s12 center">
                  <a class="waves-effect waves-light btn" onclick="addNewParticipant()"><i class="material-icons left">group_add</i>Add Participant</a>
                </div>
              </div>
              <div class="row">
                <div class="col s12">
                  <div class="divider"></div>
                </div>
              </div>
              <div class="row" id="submit-team-btn">
                <div class="col s12 center">
                  <a class="waves-effect waves-light btn btn-large" onclick="team_submit()"><i class="material-icons right">send</i>Submit</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="register_right cyan center-align" id="right_reg">
      <a class="close white-text" onclick="close_reg_right()"><i class="material-icons medium">close</i></a>
      <div id="indi-form-wrapper">
        <div class="container cyan" id="indi-head-msgs">
          <h4 id="individual-registration-head">Registrations for <span id="individual-sport-name">Individual Sport Name</span></h4>
          <h5 id="individual-registration-msg">This is an Individual Event.</h5>
          <span id="individual-sport-id">Individual Sport ID</span><span id="individual-sport-gender">Individual Sport Gender</span>
        </div>
        <div class="container cyan">
          <div class="row">
            <form class="col s12" id="sport-indi-form">
            {% csrf_token %}
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">person</i>
                  <input type="text" name="Indi_Captain_Name" id="indi_captain_name_field" class="validate" required="required">
                  <label for="indi_captain_name_field" data-error="Enter Name of Participant">Name of Participant</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">email</i>
                  <input type="email" name="Indi_Captain_Email" id="indi_captain_email_field" class="validate" required="required">
                  <label for="indi_captain_email_field" data-error="Enter a Valid Email">E-Mail of Participant</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">local_phone</i>
                  <input type="text" name="Indi_Captain_Phone" id="indi_captain_phone_field" class="validate" required="required" maxlength="10" data-length="10">
                  <label for="indi_captain_phone_field" data-error="Enter Phone Number">Participant Phone Number</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">record_voice_over</i>
                  <input type="text" name="Indi_Coach_Name" id="indi_coach_name_field" class="validate">
                  <label for="indi_coach_name_field" data-error="Enter Coach Name">Coach Name (Optional)</label>
                </div>
              </div>
              <div class="row">
                <div class="col s4">
                  Coach Gender (Optional)
                </div>
                <div class="col s4">
                  <input type="radio" name="indi_coach_gender" id="indi_coach_male" value="Male">
                  <label for="indi_coach_male">Male</label>
                </div>
                <div class="col s4">
                  <input type="radio" name="indi_coach_gender" id="indi_coach_female" value="Female">
                  <label for="indi_coach_female">Female</label>
                </div>
              </div>
              <div class="row">
                <div class="col s12">
                  <div class="divider"></div>
                </div>
              </div>
              <div class="row" id="submit-indi-btn">
                <div class="col s12 center">
                  <a class="waves-effect waves-light btn btn-large" onclick="indi_submit()"><i class="material-icons right">send</i>Submit</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
      <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content blue lighten-1 white-text">
        <ol id="modal-names">
           <!-- Edit Names Here -->
        </ol>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn" onclick="sendEdit()">Confirm Edit</a>
    </div>
  </div>
  <div id="instructions-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Instructions</h4>
      <p>Write Instuctions about everything that they should know, example, only one team from each college, you can only edit name of participants who are not team captains.</p>
      <p>Even More Instructions</p>
      <p>Likhte raho</p>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat">Done</a>
    </div>
  </div>
  <div id="error-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Error</h4>
      <p id="error-msg">Error Message</p>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
  <div id="add-team-participants-modal" class="modal modal-fixed-footer orange">
    <div class="modal-content center">
      <h5 class="white-text">Add Team Participants</h5>
      <div id="add_team_participants_div">
        <div class="row">
          <form class="col s12" id="sport-extra-form">
            <div class="row" id="submit-add-team-part-btn">
              <div class="col s12 center">
                <a class="waves-effect waves-light btn btn-large" onclick="addTeamPartSubmit('Male/Female')" id="add_team_parts_btn"><i class="material-icons right">send</i>Submit</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer orange">
      <a class="modal-action modal-close waves-effect waves-green btn-flat white-text">Close</a>
    </div>
  </div>
  <a class="waves-effect waves-light btn" href="/register/register/player" id="documents-link"><i class="material-icons left">attach_file</i>Documents Upload</a>
  </body>
</html>