{% autoescape off %}
<!-- The following people have been selected from {{college}} to parcipate in {{sport}}:
{% for nm in nmlist %}
{{nm}}
{% endfor %} -->
<span style="font-size: 13px; color: #555555; letter-spacing: 0.3px;">Greetings!<br>
This is the final confirmation mail.<br>
<b>Attached in the PDF are the list of participants</b> permitted to participate this BOSM.<br><br>

<b>The following participants are selected to prticipate in the sport :</b> <b style="text-transform: uppercase;">{{sport}}</b><br><br>

<ul>
{% for nm in nmlist %}
<li><b>{{nm}}</b></li><br>
{% endfor %}
</ul><br><br>

The <b>confirmed participants are required to pay an additional fee of Rs1000</b> (300 as a security caution deposite) upon arriving on campus.<br><br>

<b>The cofirmed participants are required to bring along their college ID cards and College Bonafides/Fee Payment Receipts when they come on campus.</b><br><br>

This BOSM, we are providing the option of prepaid cab and bus travel from select locations in Delhi, Jaipur and Loharu. Participants opting for the service will be dropped off directly at the campus, ensuring a hassle free experience. Limited seats available.<br><br>

If you wish to avail travel, please fill the following form: <a href="http://tiny.cc/bosmtravel">Travel Form</a><br><br>

<b>Terms and conditions:</b><br><br>

<ul>
<li>Cabs and Buses are available only on a first come first serve basis. Filling up this form <b>DOES NOT CONFIRM booking.</b></li><br>

<li>All bookings shall be <b>confirmed only after online payment.</b> Payment link will be sent via mail to the respective Group Leaders.</li><br>

<li>Rates mentioned in the attached "Rate Sheet" are tentative. The organizers reserve all rights to change the rates if required, without prior notification.</li><br>

<li>Toll tax and parking charges (if any) shall be borne by the passengers.</li><br>

<li>The type of vehicle allotted is solely at the discretion of the organizers.</li><br>
</ul>
For queries related to travel, contact:<br>
Sirish: +91 -<br>
Gautham: +91 -<br><br><br>


Regards,<br>
Devansh Ghatak<br>
CoSSAcn (Head)<br>
Dept. of Publications  Correspondence, BOSM 2018<br>
BITS Pilani<br>
<a href="mailto:pcr@bits-bosm.org">pcr@bits-bosm.org</a></span>
{% endautoescape %}