{% autoescape off %}
<!-- The following people have been selected from {{college}} to parcipate in {{sport}}:
{% for nm in nmlist %}
{{nm}}
{% endfor %} -->
<span style="font-size: 13px; color: #555555; letter-spacing: 0.3px;">Greetings!
This is the final confirmation mail sent out only to the Group Leaders to your college.
<b>Attached in the PDF are the list of participants</b> permitted to participate this BOSM.

The <b>confirmed participants are required to pay an additional fee of Rs1000</b> (300 as a security caution deposite) upon arriving on campus.

<b>The cofirmed participants are required to bring along their college ID cards and College Bonafides/Fee Payment Reciepts when they come on campus.</b>

This BOSM, we are providing the option of prepaid cab and bus travel from select locations in Delhi, Jaipur and Loharu. Participants opting for the service will be dropped off directly at the campus, ensuring a hassle free experience. Limited seats available.

If you wish to avail travel, please fill the following form: <a href="https://goo.gl/forms/bu63y1JLxEiKErFq1">https://goo.gl/forms/bu63y1JLxEiKErFq1</a>

<b>Terms and conditions:</b>

<ul>
<li>Cabs and Buses are available only on a first come first serve basis. Filling up this form <b>DOES NOT CONFIRM booking.</b></li>

<li>All bookings shall be <b>confirmed only after online payment.</b> Payment link will be sent via mail to the respective Group Leaders.</li>

<li>Rates mentioned in the attached "Rate Sheet" are tentative. The organizers reserve all rights to change the rates if required, without prior notification.</li>

<li>Toll tax and parking charges (if any) shall be borne by the passengers.</li>

<li>The type of vehicle allotted is solely at the discretion of the organizers.</li>
</ul>
For queries related to travel, contact:
Sirish: +91 -
Gautham: +91 -


Regards,
Devansh Ghatak
CoSSAcn (Head)
Dept. of Publications  Correspondence, BOSM 2018
BITS Pilani
<a href="mailto:pcr@bits-bosm.org">pcr@bits-bosm.org</a></span>
{% endautoescape %}