{% autoescape off %}
Dear Participant,<br>
Your account has been verified by PCr. Kindly <b>upload your college bonafide</b>. Please note that this mail does not ensure your participation in BOSM 2018. You'll be receiving another mail regarding payments after your documents have been verified by PCr.<br><br>

Regards,<br>
Devansh Ghatak<br>
CoSSAcn (Head)<br>
Dept. of Publications & Correspondence, BOSM 2018<br>
BITS Pilani<br>
<a href="mailto:pcr@bits-bosm.org">pcr@bits-bosm.org</a></span>
{% endautoescape %}