{% autoescape off %}
Congratulations, your documents have been verified! One final step remains before your participation is confirmed for BOSM, 2019.<br><br>

The payment portal on your account has now been activated. You can pay the pre-registration amount in one of the following ways:
<ul><li><b>Rs. 600</b> - The remaining Rs. 500 will be levied once you reach campus.</li></ul><br>
<div style="width: 100%; text-align: center; font-weight: bold;">OR</div><br>
<ul><li><b>Rs. 1100</b> - The entire amount can be paid online which will reduce your hassles after coming to BITS.</li></ul><br>

Your Captain or Group Leader (GL) can also pay for you through his/her account.<br><br>

Kindly note that your participation won't be approved unless you pay a minimum of <b>Rs. 600.</b>
{% endautoescape %}
