  <!DOCTYPE html>
  <html>
    <head>
    {% load staticfiles %}
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static 'pcradmin/css/materialize.min.css' %}"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link type="text/css" rel="stylesheet" href="{% static 'pcradmin/css/pcrconfirm.css' %}"/>
      <!--script type="text/javascript" src="{% static 'pcradmin/js/pcrconfirm.js' %}"></script-->
    </head>
    <body>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="{% static 'pcradmin/js/jquery.js' %}"></script>
      <script type="text/javascript" src="{% static 'pcradmin/js/materialize.min.js' %}"></script>
     <!--Confirm Div-->
      <div class="card-panel confirm grey lighten-2" style="padding-top: 3vh;">
        <table class="centered grey lighten-2 table">
          <thead class="grey lighten-2">
            <tr>
                <th style="flex-basis: 40%;">Group Leader Name</th>
                <th style="flex-basis: 40%;">College</th>
                <th style="flex-basis: 20%;">Show Teams</th>
            </tr>
          </thead>

          <tbody class="grey lighten-2">
          {% for dt in data %}
            <tr>
              <td style="display: none;">AG445</td>
              <td style="flex-basis: 40%;">{{dt.0}}</td>
              <td style="flex-basis: 40%;">{{dt.1}}</td>
              <td style="flex-basis: 20%;"><a href="{{dt.3}}/"><i class="material-icons black-text">visibility</i></a></td>
            </tr>
            {% endfor %}
                    
          </tbody>
         </table>
      </div> 
      <!--Footer -->
      <footer class="page-footer black">
        <div class="footer-copyright">
          CODING CLUB | BOSM'19
        </div>
      </footer>
    </body>
  </html>