  <!DOCTYPE html>
  <html>
    <head>
    {% load staticfiles %}
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static 'pcradmin/css/materialize.min.css' %}"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link type="text/css" rel="stylesheet" href="{% static 'pcradmin/css/pcrconfirmlead.css' %}"/>
      <script type="text/javascript" src="{% static 'pcradmin/js/pcrconfirmlead.js' %}"></script>
    </head>
    <body>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="{% static 'pcradmin/js/jquery.js' %}"></script>
      <script type="text/javascript" src="{% static 'pcradmin/js/materialize.min.js' %}"></script>
      <!--Template Div-->
      <div class="card-panel grey lighten-2 template row" style="padding-top: 3vh;">
        <!-- Inactive Groups -->
        <table class="centered grey lighten-2 table col l6 m6 s12">
          <thead class="grey lighten-2">
            <tr>
                <th style="flex-basis: 25%;">Unconf. Team Captain Name</th>
                <th style="flex-basis: 25%;">College</th>
                <th style="flex-basis: 20%;">Participants</th>
                <th style="flex-basis: 20%;">Sport</th>
                <th style="flex-basis: 10%;">Select</th>
            </tr>
          </thead>

          <tbody class="grey lighten-2">
          {% for dt in notconfirmed %}
            <tr>
              <td style="display: none;">{{dt.5}}</td>
              <td style="flex-basis: 25%;">{{dt.0}}</td>
              <td style="flex-basis: 25%;">{{dt.1}}</td>
              <td style="flex-basis: 20%;">{{dt.2}}</th>
              <td style="flex-basis: 20%;">{{dt.3}}</td>
              <td style="flex-basis: 10%;" onclick="sel(this.childNodes[0]);"><i class="material-icons sel-conf">check_box_outline_blank</i></td>
            </tr>
            {% endfor %}
            
          </tbody>
         </table>
         <a class="waves-effect waves-light btn grey lighten-3 confirm1 tooltipped col s8 offset-s2 black-text" data-position="bottom" data-delay="30" data-tooltip="Confirm selected Groups" onclick="confirm();">Confirm</a>
         <table class="centered grey lighten-2 table col l6 m6 s12">
          <thead class="grey lighten-2">
            <tr>
                <th style="flex-basis: 30%;">Conf. Team Captain Name</th>
                <th style="flex-basis: 30%;">College</th>
                <th style="flex-basis: 20%;">Participants</th>
                <th style="flex-basis: 20%;">Sport</th>
            </tr>
          </thead>

          <tbody class="grey lighten-2">
          {% for dt in confirmed %}
            <tr>
              <td style="display: none;">{{dt.5}}</td>
              <td style="flex-basis: 30%;">{{dt.0}}</td>
              <td style="flex-basis: 30%;">{{dt.1}}</td>
              <td style="flex-basis: 20%;">{{dt.2}}</th>
              <td style="flex-basis: 20%;">{{dt.3}}</td>
            </tr>
            {% endfor %}
            
          </tbody>
         </table>
         <a class="waves-effect waves-light btn grey lighten-3 unconfirm1 tooltipped col s8 offset-s2 black-text" data-position="bottom" data-delay="30" data-tooltip="Deactivate selected Groups" onclick="unconfirm();">Unconfirm</a>
         <a class="waves-effect waves-light btn grey lighten-3 confirm tooltipped col s2 offset-s2 black-text" data-position="bottom" data-delay="30" data-tooltip="Activate selected Groups" onclick="confirm();">Confirm</a>
         <a class="waves-effect waves-light btn grey lighten-3 unconfirm tooltipped col s2 offset-s4 black-text" data-position="bottom" data-delay="30" data-tooltip="Deactivate selected Groups" onclick="unconfirm();">Unconfirm</a>
      </div>
      <footer class="page-footer black">
        <div class="footer-copyright">
          CODING CLUB | BOSM'19
        </div>
      </footer>
    </body>
  </html>