#cover,#cover-overlay,body,html {
  width: 100vw;
  height: 100vh
}

#cover,#cover-overlay {
  left: 0
}

#instructions-modal,#transaction-modal {
  font-family: Montserrat
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.woff2) format('woff2')
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  border-radius: 10px;
  background-color: #F5F5F5
}

*::-webkit-scrollbar {
  width: 5px;
  height: 2px;
  background-color: #F5F5F5
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #888
}

body,html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 13px
}

#cover {
  background-image: url(../images/final-banner.svg);
  background-size: 100% 100%;
  z-index: -3;
  position: fixed;
  top: 0
}
#cover-overlay {
  z-index: -2;
  position: fixed;
  top: 0;
  background-color: rgba(0,0,0,0.7)
}

.tap-target-origin {
  transform: translate(-77%, -46%)
}

#instructions-modal,#transaction-modal {
  width: 80%;
  height: 80%;
  max-height: 80%
}

.collection .collection-item,.collection .collection-item.avatar {
  padding-left: 0;
  padding-right: 0;
  text-transform: uppercase;
  font-family: Montserrat;
  overflow-x: auto
}

.hover-effect {
  cursor: pointer
}

.flex-center {
  justify-content: center
}

#select-parts-text {
  color: white
}

#participants-container {
  position: relative;
  top: 5vh
}

#select-parts-text {
  font-size: 18px
}

#top-pk-col, .pk-col {
  display: none
}

.table-top-header-row, .participant-list-item, .table-row {
  display: flex
}

#top-name-col, .name-col {
  flex-basis: 28%
}

#top-gender-col, #top-pre-reg-col, #top-reg-col, .gender-col, .pre-reg-col, .reg-col {
  flex-basis: 24%
}

@media screen and (orientation:portrait) {
  .brand-logo {
    display: none !important
  }
}

.table-top-header-item {
  padding: 0 !important
}

#reg-parts-ul {
  margin-top: 0;
  max-height: 50vh;
  overflow: auto
}

#reg-parts-head {
  margin-bottom: 0
}

#pay-part-btn {
  background-color: #C10015
}

.custom-btn {
  height:8vh;
  line-height:8vh;
  min-width:20vw;
  letter-spacing:.1vw;
  font-family:Montserrat
}

#pay-part-div {
  padding-top: 3vh
}

.disabled-pre-reg, .disabled-reg {
  background-color: #a5d6a7;
}

.disabled-both {
  background-color: #43a047;
  color: white;
}

.disabled-pre-reg>td>i, .disabled-reg>td>i, .disabled-both>td>i {
  color: #d32f2f;
}

td>i {
  color: green;
}
#bosm-payment-logo {
  padding: 5vh 2vw;
  max-width: 70%;
  max-height: 30%;
  margin: auto;
}
.transaction-id {
  font-weight: bolder;
  letter-spacing: 2px;
  font-size: 15px;
}
.hidden-label {
  position: relative;
  left: 8px;
}
form {
  padding: 0 !important;
}
.selected-previously {
  color: #b71c1c;
}
#form-holder {
  display: none;
}