<!DOCTYPE html>
<html>
<head>
  <title>RecnAcc Deallocated</title>
  {% load staticfiles %}
  <link href="{% static 'recnacc/css/font.css' %}" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="{% static 'recnacc/css/materialize.min.css' %}"  media="screen,projection"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link type="text/css" rel="stylesheet" href="{% static 'recnacc/css/deallocated-style.css' %}"/>
  <script type="text/javascript" src="{% static 'recnacc/js/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'recnacc/js/materialize.min.js' %}"></script>
  <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
  <script type="text/javascript" src="{% static 'recnacc/js/deallocated-script.js' %}"></script>
</head>
<body class="center">
  <ul id="slide-out" class="side-nav">
    <li>
      <div class="user-view">
        <div class="background" style="background-color: #3794e6"></div>
        <a><span class="white-text name">RecNAcc PANEL</span></a>
      </div>
    </li>
    <li><a class="waves-effect" href="/recnacc/">Accomodate</a></li>
    <li><a class="waves-effect" href="/recnacc/reconfirm_acco/">Re Accomodate</a></li>
    <li><a class="waves-effect" href="/recnacc/unconfirm_acco/">De Accomodate</a></li>
    <li><a class="waves-effect" href="/recnacc/acco_strength/">Acco Strength</a></li>
    <li><a class="waves-effect" href="/recnacc/notes/">Add Notes</a></li>
    <li><a class="waves-effect">De Allocated</a></li>
    <li><a class="waves-effect" href="/recnacc/fines/">Add Fines</a></li>
    <li><div class="divider"></div></li>
    <li><a class="waves-effect bottom" href="/regsoft/regsoft_logout/">Logout</a></li>
  </ul>
  <ul id="slide-out-1" class="side-nav">
    <li>
      <div class="user-view">
        <div class="background" style="background-color: #3794e6"></div>
        <a><span class="white-text name">Present Stats</span></a>
      </div>
    </li>
    <li><a class="waves-effect">Firewallz-Confirmed:</a></li>
    <li><a id="fire_conf">1111</a></li>
    <li><div class="divider"></div></li>
    <li><a class="waves-effect">Controls Passed</a></li>
    <li><a id="cont_conf">1111</a></li>
    <li><div class="divider"></div></li>
    <li><a class="waves-effect">RecNAcc Confirmed</a></li>
    <li><a id="rec_conf">1111</a></li>
  </ul>
  <ul id="slide-out-2" class="side-nav">
    <li>
      <div class="user-view">
        <div class="background" style="background-color: #3794e6"></div>
        <a><span class="white-text name">Availability</span></a>
      </div>
    </li>
    <div id="bhawan-availability-wrapper">
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Ram<i class="material-icons">arrow_drop_down</i></a>
            <div class="collapsible-body">
              <ul style="width: 100%;">
                <li><a>Common Room: 90</a></li>
                <li><a>Single Rooms: 44</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
    </div>
  </ul>
  <div class="ham"><a href="#" data-activates="slide-out" class="button-collapse coll-0"><i class="material-icons medium blue-text">menu</i></a></div>
  <div class="ham1"><a href="#" data-activates="slide-out-1" class="button-collapse coll-1" onclick="fetchPassedStats();"><i class="material-icons medium blue-text">insert_chart</i></a></div>
  <div class="ham2"><a href="#" data-activates="slide-out-2" class="button-collapse coll-2" onclick="fetchAvailabilityStats()"><i class="material-icons medium blue-text">airline_seat_individual_suite</i></a></div>
  <div class="container blue lighten-3" id="head-deallocated-wrapper">
    RecnAcc Deallocated
  </div>
  <div class="container blue lighten-5" id="wrap_searches">
    <div class="row">
      <div class="input-field col s6">
        <input type="text" name="search" id="name-search" required="required" onkeyup="search()">
        <label for="name-search">Search By Name</label>
      </div>
      <div class="input-field col s6">
        <input type="text" name="search" id="college-search" required="required" onkeyup="search()">
        <label for="college-search">Search By College</label>
      </div>
    </div>
  </div>
  <div class="container blue lighten-5" id="deallocated-wrapper">
    <!-- LEFT TABLE/EXPANDABLE -->
    <ul class="collapsible" data-collapsible="expandable" id="table-ul">
    </ul>
    <!-- LEFT INDIVIDUAL TEMPLATE-->
    <template id="indiv-temp">
      <div class="collapsible-body blue lighten-5">
        <span class="name center" style="flex-basis: 45%;">Name</span>
        <span class="coll-name center" style="flex-basis: 45%;">College Name</span>
        <i style="flex-basis: 10%;" class="material-icons">account_circle</i>
      </div>
    </template>
  </div>
  <footer class="page-footer blue darken-2">
    <div class="container">
      <div class="row">
        <div class="col s12 center">
          <span>Coding Club, BOSM 2018</span>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>