<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RecnAcc</title>
    {% load staticfiles %}
    <link href="{% static 'recnacc/css/font.css' %}" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'recnacc/css/materialize.min.css' %}"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link type="text/css" rel="stylesheet" href="{% static 'recnacc/css/style.css' %}"/>
    <script type="text/javascript" src="{% static 'recnacc/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'recnacc/js/materialize.min.js' %}"></script>
    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
    <script type="text/javascript" src="{% static 'recnacc/js/script.js' %}"></script>
  </head>
  <body onload="loaded();">
    <!-- Notification Button -->
    <a href="#updates-modal" class="btn-floating btn-large waves-effect waves-light cyan z-depth-4 modal-trigger" onclick="disablePulse()" id="notification"><i class="material-icons">alarm</i></a>
    <!-- BUTTONS -->
    <!-- ADD ALL SELECTED BUTTON -->
    <a class="btn-floating btn-large waves-effect waves-light add_all-btn tooltipped z-depth-3" data-position="right" data-delay="50" data-tooltip="Add all selected participants" onclick="add_all_sel();"><i class="material-icons">add</i></a>
    <!-- INFO BUTTON -->
    <!-- <a class="btn btn-floating pulse info-btn" id="tools-info_outline" onclick="open_tool();"><i class="material-icons">info_outline</i></a> -->
    <!-- SELECT ALL BUTTON -->
    <a class="waves-effect waves-light btn select_all-btn tooltipped z-depth-5" data-position="top" data-delay="50" data-tooltip="Select all of the participants" onclick="sel_all_all(0)"><i class="material-icons left" id="sel-icon">check_box</i><span class="sel-text">Select All</span></a>
    <!-- DESELECT ALL BUTTON -->
    <a class="waves-effect waves-light btn deselect_all-btn tooltipped z-depth-5" data-position="top" data-delay="50" data-tooltip="Deselect all of the participants" onclick="sel_all_all(1)"><i class="material-icons left" id="desel-icon">check_box_outline_blank</i><span class="desel-text">Deselect All</span></a>
    <!-- GENERATE BILL BUTTON-->
    <a class="waves-effect waves-light btn gen_bill-btn tooltipped z-depth-5" data-position="top" data-delay="50" data-tooltip="Select Accomodation for Added Participants" onclick="accomodate_people();"><i class="material-icons left" id="bill-icon">receipt</i><span class="bill-text">Accomodate</span></a>
    

    <a class="waves-effect waves-light btn stats_1 z-depth-5" data-position="bottom" style=""><span id="stats">Selected: 0</span></a>
    <div id="wrap_searches">
      <div class="row">
        <div class="input-field col m4 s4">
          <input type="text" name="search" id="name-search" required="required" onkeyup="search()">
          <label for="name-search">Search By Name</label>
        </div>
        <div class="input-field col m4 s4">
          <input type="text" name="search" id="college-search" required="required" onkeyup="search()">
          <label for="college-search">Search By College</label>
        </div>
        <div class="input-field col m4 s4">
          <input type="text" name="search" id="groupid-search" required="required" onkeyup="search()">
          <label for="groupid-search">Search By Group ID</label>
        </div>
      </div>
    </div>
    <!-- LEFT TABLE/EXPANDABLE -->
    <ul class="collapsible left-one blue lighten-5" data-collapsible="expandable" id="left-table-ul">
    </ul>
    <!-- LEFT GROUP TEMPLATE -->
    <template id="left-group-temp">
      <li class="list-ind">
        <div class="collapsible-header blue lighten-3 group">
          <i class="material-icons tooltipped" data-position="right" data-delay="50" data-tooltip="Select/Deselect all participants of this group" onclick="over_header(this);">check_box_outline_blank</i>
          <span class="group-id-group">GROUP CODE</span>
          <i class="material-icons tooltipped" data-position="right" data-delay="50" data-tooltip="Add selected participants of this group" onclick="add_this_group(this.parentElement,1);">add</i>
        </div>
      </li>
      <!-- LEFT INDIVIDUAL TEMPLATE-->
      <template id="left-indiv-temp">
        <div class="collapsible-body blue lighten-5">
          <i style="flex-basis: 10%;" class="material-icons indiv-icon-check tooltipped" data-position="right" data-delay="50" data-tooltip="Select/Deselect this participant" onclick="click_indiv(this);">check_box_outline_blank</i>
          <span class="name center" style="flex-basis: 35%;">Name Name</span>
          <span class="coll-name center" style="flex-basis: 30%;">Indian Institute Of Technology, Delhi</span>
          <span class="group-id" style="display: none">PQR123</span>
          <span class="gender center" style="flex-basis: 15%;">Male</span>
          <span class="indiv-id" style="display: none">123</span>
          <i style="flex-basis: 10%;" class="material-icons">account_circle</i>
        </div>
      </template>
    </template>
    <!-- LEFT TABLE EXPANDABLE WAS HERE -->
    <!-- RIGHT TABLE HERE -->
    <table class="right-one highlight bordered centered">
      <thead class="blue lighten-3">
        <tr>
          <th style="flex-basis: 30%;">Name</th>
          <th style="flex-basis: 30%;">College</th>
          <th style="flex-basis: 20%;">Gender</th>
          <th style="flex-basis: 20%;">Undo</th>
        </tr>
      </thead>
      <tbody class="blue lighten-5" id="right-body">
      </tbody>
    </table>
    <!-- RIGHT INDIVIDUAL TABLE || RESIDES IN TBODY-->
    <template id="right-indiv-temp">
      <tr class="right-indiv">
        <td style="flex-basis: 30%;" class="right-indiv-name">Satyavrat Sharma</td>
        <td style="flex-basis: 30%;" class="right-indiv-college">Birla Institute of Technology</td>
        <td style="flex-basis: 20%;" class="right-indiv-gender">$0.87</td>
        <td style="display: none;" class="right-indiv-group">$0.87</td>
        <td style="display: none;" class="right-indiv-id">$0.87</td>
        <td style="flex-basis: 20%;" class="right-indiv-undo" onclick="undo_this(this.parentElement);"><i class="material-icons tooltipped" data-position="left" data-delay="50" data-tooltip="Undo selection of this participant">undo</i></td>
      </tr>
    </template>
    <!-- RIGHT TABLE WAS HERE -->
    <!-- BHAWAN MODAL HERE-->
    <!-- <div id="modalpay" class="modal pay blue lighten-5">
      <div class="modal-content">
        <h4>Generate Bill</h4>
        <p><span>Unbilled Amount : Rs.</span><span id="unbill_amt">0000</span></p>
        <form onSubmit="return false;">
          <div class="input-field" id="input_field">
            <input id="input_amt" type="number" class="validate" min="1">
            <label for="input_amt" class="lab">Amount Recieved</label>
          </div>
        </form>
        <br/><br/>
        <h4 id="denom_head">Success</h4>
        <p id="denom_para">
          <span>Amount to Return : Rs.</span><span id="return_amt">N/A</span>
        </p>
        </p>
      </div>
      <div class="modal-footer blue lighten-3 foot">
        <btn class="modal-action modal-close waves-effect waves-blue btn-flat blue lighten-5" id="btn-conf_bill" onclick="confirm_bill();">Bill</btn>
        <btn class="modal-action modal-close waves-effect waves-blue btn-flat blue lighten-5" id="btn-conf_done" onclick="confirm_done();">Done</btn>
        <btn class="modal-action modal-close waves-effect waves-blue btn-flat blue lighten-5" id="btn-conf_back" onclick="back();">Back</btn>
      </div>
    </div> -->
    <!-- PAYMENT MODAL WAS HERE -->
    <!-- BHAWAN Occupancy Here -->
    <!-- <div id="bhawan-occupancy">
      <table id="bhawan-occupancy-table">
        <tr id="bhawans-row">
          <td class="bhawans">Bhawans</td>
        </tr>
        <tr id="occupancy-row">
          <td class="occupancy">Occupancy</td>
        </tr>
      </table>
    </div> -->
    <!-- BHAWAN Occupancy Over -->
    <!-- Select Bhawan Modal -->
    <div class="yellow darken-2 center-align" id="select_bhawan">
      <a class="close white-text" onclick="bhawan_close()"><i class="material-icons medium">close</i></a>
      <div class="container">
        <div class="row">
          <div class="input-field col s12">
          <input type="text" name="bhawan-search" id="bhawan-search" required="required" onkeyup="bhawanSearch()">
          <label for="bhawan-search" id="bhawan-search-label">Search</label>
        </div>
        </div>
      </div>
      <div class="container  collection " style="border:none">
        <div id="datas">
          <!-- Accomodation Bhawan Select Here -->
          <!-- Template Commented Below -->
          <!-- <ul class="collection">
            <li class="collection-item avatar">
              <i class="material-icons circle">hotel</i>
              <span class="title">BD-L</span>
              <p class="acco-avail">250</p>
              <a onclick="selectBhawan(0)" class="secondary-content"><i class="material-icons">done</i></a>
            </li>
            <li class="collection-item">
              <ul class="collapsible" data-collapsible="expandable">
                <li>
                  <div class="collapsible-header"><i class="material-icons">hotel</i>BD - Single Rooms</div>
                  <div class="collapsible-body custom-collapsible-body">
                    <div class="container">
                      <div class='row'>
                        <div class='col s6 center indi-add-extra-name'>
                          <h5 class="participant-name-wrapper">Participant Name</h5>
                        </div>
                        <div class='input-field col s6'>
                          <select class='add_extra' id='part_num_"+(tot_part++)+"'>
                            <option value='' selected>Room No.</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="container">
                    <div class='row'>
                      <div class='col s6 center indi-add-extra-name'>
                        <h5 class="participant-name-wrapper">Participant Name</h5>
                      </div>
                      <div class='input-field col s6'>
                        <select class='add_extra' id='part_num_"+(tot_part++)+"'>
                          <option value='' selected>Room No.</option>
                        </select>
                      </div>
                    </div>
                    </div>
                    <div class="container">
                    <div class='row'>
                      <div class='col s6 center indi-add-extra-name'>
                        <h5 class="participant-name-wrapper">Participant Name</h5>
                      </div>
                      <div class='input-field col s6'>
                        <select class='add_extra' id='part_num_"+(tot_part++)+"'>
                          <option value='' selected>Room No.</option>
                        </select>
                      </div>
                    </div>
                    </div>
                    <div class="container">
                    <div class='row'>
                      <div class='col s6 center indi-add-extra-name'>
                        <h5 class="participant-name-wrapper">Participant Name</h5>
                      </div>
                      <div class='input-field col s6'>
                        <select class='add_extra' id='part_num_"+(tot_part++)+"'>
                          <option value='' selected>Room No.</option>
                        </select>
                      </div>
                    </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header center">
                    <span class="shift-btn-right"><a onclick="selectBhawan(0)" class="secondary-content waves-effect waves-light btn"><i class="material-icons right">done</i>Confirm</a></span>
                  </div>
              </ul>
            </li>
          </ul> -->
        </div>
        <!-- <a class="waves-effect waves-light btn" id="confirm-bhawan" onclick="submitList()"><i class="material-icons right">done</i>Confirm</a> -->
      </div>
    </div>
    <div id="updates-modal" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h4>Recent Entries</h4>
        <p>
          <table id="updates-table">
            <thead class="center">
              <tr>
                <th class="center">Group Code</td>
                <th class="center">Participant Name</td>
              </tr>
            </thead>
            <tbody class="center" id="update-participants">
              <!-- <tr>
                <td class="center">IJHKA</td>
                <td class="center">Arpit Anshuman</td>
              </tr> -->
            </tbody>
          </table>
        </p>
      </div>
      <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>
    <ul id="slide-out" class="side-nav">
      <li>
        <div class="user-view">
          <div class="background" style="background-color: #3794e6"></div>
          <a><span class="white-text name">RecNAcc PANEL</span></a>
        </div>
      </li>
      <li><a class="waves-effect" >Accomodate</a></li>
      <li><a class="waves-effect" href="/recnacc/reconfirm_acco/">Re Accomodate</a></li>
      <li><a class="waves-effect" href="/recnacc/unconfirm_acco/">De Accomodate</a></li>
      <li><a class="waves-effect" onclick="stats()">Stats</a></li>
      <li><a class="waves-effect" href="/recnacc/acco_strength/">Acco Strength</a></li>
      <li><a class="waves-effect" href="/recnacc/notes/">Add Notes</a></li>
      <li><a class="waves-effect" href="/recnacc/deallocated/">De Allocated</a></li>
      <li><a class="waves-effect" href="/recnacc/fines/">Add Fines</a></li>
      <li><div class="divider"></div></li>
      <li><a class="waves-effect bottom" href="/regsoft/regsoft_logout/">Logout</a></li>
    </ul>
    <ul id="slide-out-1" class="side-nav">
      <li>
        <div class="user-view">
          <div class="background" style="background-color: #3794e6"></div>
          <a><span class="white-text name">Present Stats</span></a>
        </div>
      </li>
      <li><a class="waves-effect">Firewallz-Confirmed:</a></li>
      <li><a id="fire_conf">1111</a></li>
      <li><div class="divider"></div></li>
      <li><a class="waves-effect" onclick="stats()">Controls Passed</a></li>
      <li><a id="cont_conf">1111</a></li>
      <li><div class="divider"></div></li>
      <li><a class="waves-effect">RecNAcc Confirmed</a></li>
      <li><a id="rec_conf">1111</a></li>
  </ul>
  <ul id="slide-out-2" class="side-nav">
    <li>
      <div class="user-view">
        <div class="background" style="background-color: #3794e6"></div>
        <a><span class="white-text name">Availability</span></a>
      </div>
    </li>
    <div id="bhawan-availability-wrapper">
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Ram<i class="material-icons">arrow_drop_down</i></a>
            <div class="collapsible-body">
              <ul style="width: 100%;">
                <li><a>Common Room: 90</a></li>
                <li><a>Single Rooms: 44</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
    </div>
  </ul>
    <div class="ham"><a href="#" data-activates="slide-out" class="button-collapse coll-0"><i class="material-icons medium blue-text">menu</i></a></div>
    <div class="ham1"><a href="#" data-activates="slide-out-1" class="button-collapse coll-1" onclick="fetchPassedStats();"><i class="material-icons medium blue-text">insert_chart</i></a></div>
    <div class="ham2"><a href="#" data-activates="slide-out-2" class="button-collapse coll-2" ><i class="material-icons medium blue-text">airline_seat_individual_suite
  </i></a></div>
    <div id="stat" class="stats teal center-align">
      <a class="close white-text" id="close" onclick="close_stats()"><i class="material-icons medium">close</i></a>
     
      <button  onclick="location.href='/controls/stats_csv/';" class="btn csv-btn" id="csv" href="/controls/stats_csv/" target="_blank"><a href="/controls/stats_csv/">Download CSV</a></button>
      <button  onclick="location.href='/controls/stats_excel/';" class="btn csv-btn" id="pdf" href="/controls/stats_excel/"><a href="/controls/stats_excel/">Download Excel</a></button>
      <button  onclick="location.href='/controls/stats_html/';" class="btn csv-btn" id="excel" href="/controls/stats_html/"><a href="/controls/stats_html/">Download PDF</a></button>
      <div class="container" id="stat_data">
        <ul class="collapsible popout center-align" data-collapsible="accordion" id="stats_ul">
          <li>
            <div class="collapsible-header active"><i class="material-icons">airline_seat_individual_suite</i>Ram</div>
            <div class="collapsible-body center white">
              <ul class="collapsible popout center-align" data-collapsible="accordion" style="width: 100%;">
                <li>
                  <div class="collapsible-header"><i class="material-icons">airline_seat_individual_suite</i>Ram Common Room</div>
                  <div class="collapsible-body center white">
                    <div class="collection" style="width: 100%;">
                      <a class="collection-item">Alvin<span class="right">9929823984</span></a>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">airline_seat_individual_suite</i>Ram TT Room</div>
                  <div class="collapsible-body center white">
                    <div class="collection" style="width: 100%;">
                      <a class="collection-item">Alvin<span id="phn_no" class="right">9929823984</span></a>
                      <a class="collection-item">Alvin<span id="phn_no" class="right">9929823984</span></a>
                      <a class="collection-item">Alvin<span id="phn_no" class="right">9929823984</span></a>
                      <a class="collection-item">Alvin<span id="phn_no" class="right">9929823984</span></a>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">airline_seat_individual_suite</i>Ram Single Rooms</div>
                  <div class="collapsible-body center white">
                    <div class="collection" style="width: 100%;">
                      <a class="collection-item">Alvin<span id="phn_no" class="right">9929823984</span></a>
                      <a class="collection-item">Alvin<span id="phn_no" class="right">9929823984</span></a>
                      <a class="collection-item">Alvin<span id="phn_no" class="right">9929823984</span></a>
                      <a class="collection-item">Alvin<span id="phn_no" class="right">9929823984</span></a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="collapsible-header active"><i class="material-icons">airline_seat_individual_suite</i>Budh</div>
            <div class="collapsible-body center white">
              <ul class="collapsible popout center-align" data-collapsible="accordion" style="width: 100%;">
                <li>
                  <div class="collapsible-header"><i class="material-icons">airline_seat_individual_suite</i>Budh Common Room</div>
                  <div class="collapsible-body center white">
                    <div class="collection" style="width: 100%;">
                      <a class="collection-item">Alvin<span id="phn_no" class="right">9929823984</span></a>
                      <a class="collection-item">Alvin<span id="phn_no" class="right">9929823984</span></a>
                      <a class="collection-item">Alvin<span id="phn_no" class="right">9929823984</span></a>
                      <a class="collection-item">Alvin<span id="phn_no" class="right">9929823984</span></a>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">airline_seat_individual_suite</i>Budh TT Room</div>
                  <div class="collapsible-body center white">
                    <div class="collection" style="width: 100%;">
                      <a class="collection-item">Alvin<span id="phn_no" class="right">9929823984</span></a>
                      <a class="collection-item">Alvin<span id="phn_no" class="right">9929823984</span></a>
                      <a class="collection-item">Alvin<span id="phn_no" class="right">9929823984</span></a>
                      <a class="collection-item">Alvin<span id="phn_no" class="right">9929823984</span></a>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">airline_seat_individual_suite</i>Budh Single Rooms</div>
                  <div class="collapsible-body center white">
                    <div class="collection" style="width: 100%;">
                      <a class="collection-item">Alvin<span id="phn_no" class="right">9929823984</span></a>
                      <a class="collection-item">Alvin<span id="phn_no" class="right">9929823984</span></a>
                      <a class="collection-item">Alvin<span id="phn_no" class="right">9929823984</span></a>
                      <a class="collection-item">Alvin<span id="phn_no" class="right">9929823984</span></a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="collapsible-header active"><i class="material-icons">airline_seat_individual_suite</i>Meera</div>
            <div class="collapsible-body center white">
              <ul class="collapsible popout center-align" data-collapsible="accordion" style="width: 100%;">
                <li>
                  <div class="collapsible-header"><i class="material-icons">airline_seat_individual_suite</i>Meera Common Room</div>
                  <div class="collapsible-body center white">
                    <div class="collection" style="width: 100%;">
                      <a class="collection-item">Alvin<span id="phn_no" class="right">9929823984</span></a>
                      <a class="collection-item">Alvin<span id="phn_no" class="right">9929823984</span></a>
                      <a class="collection-item">Alvin<span id="phn_no" class="right">9929823984</span></a>
                      <a class="collection-item">Alvin<span id="phn_no" class="right">9929823984</span></a>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">airline_seat_individual_suite</i>Meera TT Room</div>
                  <div class="collapsible-body center white">
                    <div class="collection" style="width: 100%;">
                      <a class="collection-item">Alvin<span id="phn_no" class="right">9929823984</span></a>
                      <a class="collection-item">Alvin<span id="phn_no" class="right">9929823984</span></a>
                      <a class="collection-item">Alvin<span id="phn_no" class="right">9929823984</span></a>
                      <a class="collection-item">Alvin<span id="phn_no" class="right">9929823984</span></a>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">airline_seat_individual_suite</i>Meera Single Rooms</div>
                  <div class="collapsible-body center white">
                    <div class="collection" style="width: 100%;">
                      <a class="collection-item">Alvin<span id="phn_no" class="right">9929823984</span></a>
                      <a class="collection-item">Alvin<span id="phn_no" class="right">9929823984</span></a>
                      <a class="collection-item">Alvin<span id="phn_no" class="right">9929823984</span></a>
                      <a class="collection-item">Alvin<span id="phn_no" class="right">9929823984</span></a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <footer class="page-footer blue darken-2">
      <div class="container">
        <div class="row">
          <div class="col s12 center">
            <span>Coding Club, BOSM 2018</span>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>