body, html {
  padding: 0;
  margin: 0;
}
html {
  background-color: rgba(104, 168, 224, 0.3);
}
.hover {
  cursor: pointer;
}
/*#wrap_searches {
  position: fixed;
  width: 45vw;
  left: 5vw;
  top: 1vh;
}*/
#head-deallocated-wrapper {
  padding: 5vh 0;
  font-variant: small-caps;
  letter-spacing: 0.3vw;
  font-size: 1.5vw;
  position: relative;
  width: 85vw;
}
#deallocated-wrapper {
  padding: 5vh 5vw;
  position: relative;
  height: 60vh;
  overflow: auto;
  width: 85vw;
}
#wrap_searches {
  width: 85vw;
  padding: 0 5vw;
  position: relative;
  /*left: 7.5vw;*/
}
#wrap_searches>.row {
  margin-bottom: 0;
}
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
*::-webkit-scrollbar {
  width: 8px;
  height: 7px;
  background-color: #F5F5F5;
}
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #888;
}
.page-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 5;
  max-height: 11vh;
  height: 11vh;
  overflow: hidden;
  color: #f5dd42;
}
.page-footer>div>div>div>span {
  font-size: 3vh;
  vertical-align: middle;
}
.ham{position: absolute;left: 0;top: 0; z-index: 100;}
.ham1{position: absolute;right: 0;top: 0; z-index: 100;}
.ham2{position: absolute;right: 0.5vw;bottom: 11vh; z-index: 100;}
/*------Table Style------*/
#table-ul {
  overflow: auto;
}
.collapsible-body {
  display: flex;
  justify-content: space-between;
  padding: 2.5vh;
  font-size: 2.4vh;
}
.name, .coll-name {
  text-align: center;
  flex-basis: 45%;
}
.collapsible-body>i {
  text-align: center;
}