body, html {
	padding: 0;
	margin: 0;
}
html {
	background-color: rgba(104, 168, 224, 0.3);
}
#head-occu-wrapper {
	padding: 5vh 0;
	font-variant: small-caps;
	letter-spacing: 0.3vw;
	font-size: 1.5vw;
	position: relative;
}
#occu-wrapper {
	padding: 5vh 5vw;
	position: relative;
	max-height: 70vh;
	overflow: auto;
}
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
*::-webkit-scrollbar {
  width: 8px;
  height: 7px;
  background-color: #F5F5F5;
}
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #888;
}
.hostel-header {
  font-weight: 300;
  font-size: 2vw;
  letter-spacing: 0.3vw;
  margin-bottom: 2vh;
}
.rooms-header {
  font-weight: 100;
  font-size: 1.5vw;
  letter-spacing: 0.2vw;
  margin-bottom: 2vh;
  font-variant: small-caps;
}
.rooms-content {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
  margin-bottom: 1vh;
}
.page-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 5;
  max-height: 11vh;
  height: 11vh;
  overflow: hidden;
  color: #f5dd42;
}
.page-footer>div>div>div>span {
	font-size: 3vh;
	vertical-align: middle;
}
.ham{position: absolute;left: 0;top: 0;}
.ham1{position: absolute;right: 0;top: 0;}
.ham2{position: absolute;right: 0.5vw;bottom: 11vh;}
.change-cursor {cursor: pointer;}
#edit-strength-header {
  font-size: 1.5vw;
  letter-spacing: 0.2vw;
  font-variant: small-caps;
}
label {
  color: black !important;
  text-transform: uppercase;
  font-size: 1.2vw !important;
  letter-spacing: 0.1vw !important;
}
input[type=number]:not(.browser-default) {
  border-bottom: 1px solid black;
}
.add_room-btn {
  position: fixed;
  top: 15vh;
  left: 0.5vw;
}