.cnfrm_bttn{
  padding: 10px;
  background-color: #4982ba;
  color:white;
  position: absolute;
  right:0;
}
.cnfrmd{
  height:100vh;
  width: 100vw;
  overflow-x:hidden;
  color:white;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}
.cnfrmd>span{
  font-size: 6vh;
  font-variant: small-caps;
  letter-spacing: 0.5vw;
}
#view-details-div-text>span {
  font-size: 3vh;
  font-variant: small-caps;
  letter-spacing: 0.5vw;
}
#view-details-div-text {
  margin-bottom: 3vh;
}
.cnfrmd_grps{
  width:60%;
  margin-left: 20%;
  padding: 10px;
  margin-top: 5px;
  color: #26A69A;
  background-color: white;
  cursor: pointer;
  text-align: center;
}
.input_cnfrm{
  background-color: #26A69A !important;
  text-align: center;  
}
.inp{
  padding:5px;
  text-align: center;
}
.cnfrmd_details{
  width: 100%;
  height: 0;  
  top: 0;
  left: 0;
  overflow-x:hidden;
  transition: 0.8s;
  position: fixed;
  z-index: 5;
  background-color:darkslategray;
}
.uncnfrm{
  width:60%;
  margin-left: 20%;
  padding: 10px;
  margin-top: 5px;
  color: #26A69A;
  background-color: white;   
  text-align: center;
}
.idd{
  display: none;
}
#participant-search-wrapper>.input-field label, #participant-search-wrapper>input[type=text]:not(.browser-default):focus:not([readonly])+label {
  color: white;
}
#participant-search-wrapper>input[type=text]:not(.browser-default), #participant-search-wrapper>input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid white;
}
#participant-search-wrapper>input[type=text] {
  color: white;
}
#participant-search-wrapper>label {
  color: white;
}
.unconfirm_icon {
  width: 15px;
  height: 20px;
}
.ham{position: absolute;;top: 0;left: 0;}
.ham1{position: absolute;right: 0;top: 0;}
.stats{position: fixed;z-index: 1;width: 100vw;top: 0;left: 0;transition: 0.5s;}
#close{z-index: 5;display: none;}
#stat_data{z-index: 5;display: none;height:80vh;overflow-y: auto;}
#csv{width:20vw;display: none;z-index: 5;position: fixed; bottom: 0;left: 0;background-color: white;color:teal;}
#excel{width:20vw;display: none;z-index: 5;position: fixed; bottom: 0;left: 40vw;background-color: white;color:teal;}
#pdf{width:20vw;display: none;z-index: 5;position: fixed; bottom: 0;left: 80vw;background-color: white;color:teal;}
#close{cursor: pointer;}
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
*::-webkit-scrollbar {
  width: 8px;
  height: 7px;
  background-color: #F5F5F5;
}
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #888;
}
html {
  background-color: rgba(104, 168, 224, 0.3);
}
body, html {
  padding: 0;
  margin: 0;
}
#head-unconfirm-wrapper {
  padding: 5vh 0;
  font-variant: small-caps;
  letter-spacing: 0.3vw;
  font-size: 1.5vw;
  position: relative;
  width: 85vw;
}
#unconfirm-wrapper {
  padding: 5vh 5vw;
  position: relative;
  height: 60vh;
  overflow: auto;
  width: 85vw;
}
#wrap_searches {
  width: 85vw;
  padding: 0 5vw;
}
#wrap_searches>.row {
  margin-bottom: 0;
}
.custom-collapsible-body {
  display: flex;
  justify-content: space-between;
  padding: 2.5vh;
  font-size: 2.4vh;
}
.name, .coll-name {
  text-align: center;
  flex-basis: 40%;
}
.unconfirm-name, .unconfirm-coll-name {
  text-align: center;
  flex-basis: 45%;
}
.collapsible-body>i {
  text-align: center;
}
.pk-col, .group-code-col {
  border-right: 1px solid red;
}
.group-id-col, .unconfirm-id-col {
  display: none;
}
.change_cursor {
  cursor: pointer;
}
.page-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 0;
  max-height: 11vh;
  height: 11vh;
  overflow: hidden;
  color: #f5dd42;
}
.page-footer>div>div>div>span {
  font-size: 3vh;
  vertical-align: middle;
}
#uncnfrm_grp {
  max-height: 70vh;
  overflow: auto;
}
